/*Adding a root to establish a color palette via variables */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* add to remove the default margin and padding */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* apply styles to the <header>
2.0 update-adding display flex  and justify content space between*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    /* Added sticky positions and background styles from .hero to header for 2.4.0 version */
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    /*Change b-p from center to 80% for 2.4.0 */
    background-position: 80%;
    /*Add b-attachment fixed to match image with hero section */
    background-attachment: fixed;
    /*Add a high z-index to make sure new elements do not float in front of this header's sticky position */
    z-index: 9999;
}
/* there are two header children, h1 and nav. h1 is the name Run Buddy and nav is the nav bar 
Update for 2.0 addedd margin and remove display inline-but I only have it in header nav ul li 
Adding text shadow for 2.4.0*/
header h1 {
    font-weight: bold;
    margin: 0;
    font-family: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* The header also has a specific <a> tag or hyperlink so the above code 
doesn't work unless you overide the default look for <a> tags. The text-decoration
as none allows you to remove the hypertext color and underline. 
Then, you assign the color to match h1 text coded above.  */
header a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Use the next style to send the nav info to the right instead of the default HTML left.
Update 2.0 remove float right=NA with flexbox*/
header nav {
    margin: 7px 0;
}

/* Now make the nav titles listed organize from L to R instead of the default top to bottom remove header nav ul li {
    display: inline; when applying flexbox in version 2.0 and make a new header nav ul*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Specify the hypertext <a> tag elements inside the list inside the unordered list 
in the navigation inside the header specifications as the following to give them each an
aesthetic spacing, and font style: Also for 2.0 we update the font-size to 1.55 vw or viewport width*/
header nav ul li a {
    /* replaced margin with padding for mediaquery styling 2.3.0 */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /*adding text shadow 2.4.0*/
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* The header h1 now needs to become inline instead of a block to sit nicely
with the nav list you previously made inline. */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}
    
/* Specify the style of the footer* 
2.0 added flexbox specs/*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px
}

/* Style the left <h2> element and then the right <div> container holding the <a> elements
2.0 remove display inline for flexbox specs */
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

/* remove float right for flexbox specs */
footer div {
    line-height: 1.5;
    text-align: right;
}
    
/* Now style the <a> element inside the <div> container. */
footer a {
    color: var(--secondary-color);
}

/*--Add a universal padding value for all sections */
section {
    padding: 60px;
}

    /* Hero Style Start */
/* overall declarations in 1.0 version, but position and height removed for 2.0 flexbox specs 
additions of */    
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    /* height removed 2.0 version */
    background-size: cover;
    /*Change b-p from center to 80% for 2.4.0 */
    background-position: 80%;
    /*Add b-attachment fixed to match image with header section */
    background-attachment: fixed;
    /* Add position relative to the hero section to position the hero-form. NA with 2.0 flexbox */
    /* Add align-items flex-start for mediaquery version 2.3.0 */
    align-items: flex-start;
}

/* Add hero-cta styles for version 2.0 */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    /* Change l-h from 1.3 to 1.2 for mediaquery version 2.3.0 */
    line-height: 1.2;
    /*adding text shadow 2.3.0*/
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Add hero-cta header h2 style for 2.0 */
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
}
/* Hero Style End */

/*--Hero-Form Style Start version 2.0 deletions noted below*/
.hero-form {
    /*Move border info to the top */
    border: 3px solid var(--secondary-color);
    /*  Change hex to rgb to include transparency for 2.4.0 */
    background-color: rgba(252,225,56, 0.8);
    padding: 20px;
   /* width removed and replaced for 2.0 NA with flexbox */
    width: 40%;
    color: var(--secondary-color);
    /*Add position info after color */
     /* position removed 2.0 NA with flexbox */
    /* Change position from 0,0 to an exact location */
    /* bottom removed 2.0 NA with flexbox */
     /* right removed 2.0 NA with flexbox */
     /* margin added for 2.0 */
     margin: 3.5%;
     /*add shadow and rounded corners for 2.4.0 */
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     border-radius: 15px;
}

/* Attempt to adjust the form's title-only the font-size and margin is needed */
.hero-form h3 {
    font-size: 24px;
     margin: 0;
}

/* Text spacing for the <p> element Fill out this form...*/
.hero-form p {
    margin: 5px 0 15px 0;
}

/*We adjusted the HTML file to give a unique class to the 
first three input lines called form-input to style here below.*/
.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    /* Add rounded corners for 2.4.0 */
    border-radius: 10px;
    /* Adding rgba for advanced CSS after mediaqueries below for 2.4.0 */
    background-color: rgba(255,255,255, 0.75);
}

/* Space between radio button labels -the 2nd value specified */
.hero-form label {
    margin: 0 5px;
}

/* Style the Get Started button by making its CSS rule */
.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    /* Add rounded corners for 2.4.0 */
    border-radius: 10px;
}
/* HERO STYLES END */

/* Adding section styles and making new class distinctions in the h2 elements of the sections to DRY the common section styles*/
.section-title {
    /* Change f-s from 55 to 48 for mediaquery version 2.3.0 */
    font-size: 48px;
    color: var(--secondary-color);
    /* Remove margin-bottom revise to margin for 2.0 flexbox specs */
    margin: 0 auto 35px auto;
    /* Remove and revise padding to padding-bottom for 2.0 flexbox specs */
    padding-bottom: 20px;
    /* add text align for 2.0 flexbox specs */
    text-align: center;
    /* Remove display for 2.0 flexbox specs */
    border-bottom: 3px solid; 
    /* Add width for 2.0 flexbox specs */
    width: 50%;
}

/*Here are the unique elements to each section, their border colors*/
.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}
   
/* Adding What We Do Styles */
/* Remove .intro styling for 2.0 flexbox specs */
/* continue defining the stles moving to the h2, then p elements */
/* intro h2 removed for DRY best-practice*/

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* Add text-align for 2.0 flexbox specs */
    text-align: center;
}

.steps {
    /* Remove text-align for 2.0 flexbox specs */
    background: var(--primary-color);
}

/* New .step styling for 2.0 flexbox styling */
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    /* remove border bottom from here to make it a last child pseudo-class for 2.4.0-see below */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*.steps h2 was not made upon reading ahead about DRY Don't Repeat Yourself programming rule.
Here are CSS rules for repeated step elements*/
/* Removed .steps div for 2.0 flexbox styling */
/* Removed .steps img for 2.0 flexbox styling */
/* changed steps h3 to step h3 for 2.0 flexbox styling */
.step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    /*removed margin-top for 2.0 flexbox styling */
    /* add flex property showing flex grow and basis values */
    flex: 1 30%;
}

/* Add CSS flex property style for step-info to show flex grow and basis */
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* changed steps p to step-text p and font-size from 23 to 18 for 2.0 flexbox styling */
.step-text p {
    color: var(--tertiary-color);
    font-size: 18 px;
}

/* New .step-text h4 for 2.0 flexbox styling */
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

/* Add version 2.0 flexbox styles for nested children */
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-text {
    flex: 12;
}

.step-img img {
    max-width: 100%;
}

/*Added an HTML <span> element to break up the font size in an h3 heading.  Span styling below. */
/* Removed .steps span for 2.0 flexbox styling */

/*Next section styling for the trainers, first make an overview center text align default*/
.trainers {
    /* Remove text-align for 2.0 flexbox specs */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Article style for the trainer section. Note the section says plural trainers and the article is singular trainer.*/
.trainer {
    /* Remove width for 2.0 flexbox specs */
    /* Change margin from 0 auro 30px auto to 20px for 2.0 flexbox specs */
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    /*We must add an overflow auto property declaration because both the <img> and <div> are floated
    and the parent <article> couldn't interpret it, so showed itself. Since the parent is 0px tall, it showed nothing.*/
    /* Remove overflow for 2.0 flexbox specs */
    /* Add a flex property for 2.0 flexbox specs */
    flex: 1
}
/*Style elements in the trainer article such as the <img> and <div> called trainer-bio class.*/
.trainer img {
    /* Change width from 35% to 100% for 2.0 flexbox specs */
    width: 100%;
    /* Remove float for 2.0 flexbox specs */
}

.trainer-bio {
    /* Change padding from 35 to 25 for 2.0 flexbox specs */
    padding: 25px;
    /* Remove float and width for 2.0 flexbox specs */
}

/*style classes for left aligned trainer articles and right aligned article element*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Styles for the plural trainers' heading, subheading and paragraph text.*/
.trainer-bio h3 {
    /* Change font from 32 to 28 for 2.0 version */
    font-size: 28px;
    /* Remove margin bottom for 2.0 version */
}

.trainer-bio h4 {
    font-weight: lighter;
    /* Change font from 26 to 22 for 2.0 version */
    font-size: 22px;
    /* Change from 25 to 15 for 2.0 version */
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;
    /* Change from 1.3 to 1.5 for 2.0 version because it is typ but not listed in trainer-bio rules */
    line-height: 1.5;
}
    
/* REACH OUT STYLES START */
.contact {
    /* Remove text-align for 2.0 flexbox specs */
    background: var(--secondary-color);
}

/* Assign the h2 header for this contact section its color. */
.contact h2 {
    color: var(--primary-color);
}

.contact-info iframe {
    /* Remove width for 2.0 flexbox specs */
    height: 400px;
}

.contact-info div {
    /* Remove all but color for 2.0 flexbox specs */
    color: white;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    /*Change font from 19 to 16 for 2.0 flexbox*/
    font-size: 16px;
    font-style: normal;  
}

.contact-info a {
    text-decoration-line: underline;
    color: var(--primary-color);
    font-style: normal;
}

.contact-info {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info> * {
    flex: 1;
    margin: 15px;
}

/* Contact form CSS styles added for 2.0 flexbox */
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    /* Add rounded corners and pseudoclass for 2.4.0 */
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    /* Add rounded corners for 2.4.0 */
    border-radius: 10px;
}

/* REACH OUT STYLES END */

/* heart emoji fix*/
.heart {
    color: red;
    font-weight:normal;
}

/* Adding flex-row class style for 2.0 flexbox specs */
.flex-row {
    display: flex;
}

/* Adding media query test note-we removed h1 from the HTML the header is now h2*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        /* Adding a relative position to negate the sticky header rule for 2.4.0 with smaller screens */
        position: relative;
    }

    header h2 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    
    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 2 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
   
}

@media screen and (max-width: 575px) {

    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
/* Adding pseudoclasses for 2.4.0 */
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero-form button:hover {
    background-color: var(--tertiary-color);
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

/* Adding a pseudoclasses for buttons to change for 2.4.0 */

.contact-form button:focus {

}

.form-input:focus {
    background-color: rgba(255,255,255, 1.0);
    outline: none;
}

/* Contact form CSS pseudoclas added for 2.4.0 adv. CSS aesthetics */
.contact-form input, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1.0);
    outline: none;
}

.step:last-child {
    border-bottom: 1px solid var(--tertiary-color);
}

/* bottom border added to other children for 2.4.0 */
.step:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
}

/* CSS styling to hide the functioning radio buttons and checkbox by making their opacity 0 */
.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
} 

/* CSS positioning to make sure the new buttons on top of the hidden old ones fit and thus funtion */
.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

/* Use a pseudo-element to put button styling content before the hidden HTML buttons but positioned absolutely */
.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255,255,255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}

/* Change the above square boxes for the radio into round buttons */
.radio-wrapper label::before {
    border-radius: 50%;
}
/* The circles and squares are larger than the default HTML, but need to be responsive.
Add the after pseudoclass to show a change when clicked. Note for the future-there must be a better way
to do this maybe with JavaScript? */
.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
    position: absolute;
    /*Find out why the position is 1px less than the before checkbox */
    left: -29px;
    top: -3px;
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

/* Instead of this CSS rule that shows both, use the one below to keep the HTML hidden but function with the CSS style
.checkbox-wrapper input:checked, .radio-wrapper input:checked {
    opacity: 1;
}*/
.checkbox-wrapper input + label::after,
.radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after,
.radio-wrapper input:checked + label::after {
    content: "";
}